%h1 Edit your profile

= simple_form_for @member, :url => member_profile_path, :method => :put do |f|
  = f.input :about, placeholder: 'What do you do in your everyday life? Why do you want to learn/become a mentor?', :as => :text, :input_html => { :rows => 7 , :style => 'width: 100%'}, required: true
  %p= 'How would you describe your current level of coding ability?'
  = f.select :expertise, Member.expertise_levels.map { |k,v|[v,k] }, {}, { :class => 'form-control' }
  = f.input :location, placeholder: 'e.g. London', required: true
  = f.submit 'Next', class: 'btn btn-default'