%h1= t('profiles.create')

= simple_form_for @member, :url => member_profile_path, :method => :put do |f|
  = f.input :full_name, placeholder: t('profiles.name_placeholder'), required: false, label: t('profiles.name')
  = f.input :username, required: true, label: t('profiles.user')
  = f.input :gender, label: t('profiles.gender'), hint: t('profiles.gender_hint')
  = f.input :about, label: t('profiles.about'), placeholder: t('profiles.about_placeholder'), :as => :text, :input_html => { :rows => 7 , :style => 'width: 100%'}, required: true
  %p= t('profiles.describe')
  = f.select :expertise, Member.expertise_levels.map { |k,v|[v,k] }, {}, { :class => 'form-control' }
  = f.input :location, label: t('profiles.location'), placeholder: t('profiles.location_placeholder'), required: true
  = f.submit t('profiles.save'), class: 'btn btn-primary'
