%h1 Your skills
%p What do you feel comfortable mentoring?

.form
  = simple_form_for @member, :url => member_skills_path,  :method => :post do |f|
    = f.association :skills, as: :check_boxes

    %p Interests
    = f.assocation :interests, as: :check_boxes

    = input :name =>
    = f.submit