%h1 Your Skills and Interests
%p What do you feel comfortable mentoring?

.form
  = simple_form_for @member, :url => member_skills_path,  :method => :post do |f|
    = f.association :skills, as: :check_boxes, :label_html => {:style => "font-size: 1.5em; display: block;"}
    = f.association :interests, as: :check_boxes, :label_html => {:style => "font-size: 1.5em; display: block;"}


    / = simple_form_for @interests, :url => member_interests_path, :method => :post do |m|
    .form-field
      = text_field_tag 'interest[name]'
      = button_tag 'Add new interest', class: 'btn btn-sm btn-default navbar-btn', id: 'add_interest'


    =f.submit 'Save', class: 'btn btn-sm btn-default navbar-btn'


:javascript

  $('#add_interest').on('click', function(e){
    e.preventDefault();
    $.post('#{member_interests_path}', $('#interest_name').serialize(), function(response){
      if( response.status == "OK") {
        var label = $('<label>', { class: 'checkbox'});
        var input = $('<input>', {
            class: 'check_boxes optional form-control',
            id: 'member_interests_ids_' + response.id,
            name: 'member[interest_ids][]',
            type: 'checkbox',
            value: response.id
          });
        label.text(response.name);
        label.prepend(input);
        $('.member_interests').append(label);
      } else {
        // do something
      }
    })
  })
