%h1 Profile
.col-md-12
  .panel.panel-default
    .panel-heading
      .row
        .col-md-2
          %img{:src => @member.gravatar_image(150)}
        .col-md-7
          %h1= @member.full_name
          .smaller
            %h5{:style => 'display:inline'}  Expertise: 
            = Member.expertise_levels[@member.expertise]
            %br
            %br
            %h5{:style => 'display:inline'} Location: 
            = @member.location
    .panel-body
      .row
        .col-md-12
          %h4 About:
          %p= @member.about
          %h4 Skills:
          %ul.skills
            - @member.skills.each do |skill|
              %li{:class => "icon-#{skill.name.downcase}", :title => skill.name, :style => 'float: left'}
