.row
  .col-md-12
    %em #{time_ago_in_words(classified.created_at.to_time)} ago
    %p.lead= classified.description
    %ul.skills
    - classified.skills.each do |skill|
      %li{:class => "icon-#{skill.name.downcase}", :title => skill.name }
        = skill.name
    - if classified.remote
      %p
        %span.label.label-info
          %i.fa.fa-laptop
            Remote
    - if classified.face_to_face
      %p
        %span.label.label-info
          %i.fa.fa-coffee
            =classified.member.location
  .col-md-12
    .btn-group.btn-group-sm
      =link_to "#", title: 'Add to favorites', class: 'btn btn-info' do
        %i.fa.fa-star
        Favorite
      =link_to new_classified_message_path(classified), title: 'Send message', class: 'btn btn-default' do
        %i.fa.fa-envelope
        Message
      - url = classified.id.to_s
      %a.twitter-share-button{"data-hashtags" => "mentoring.io", "data-size" => "large", "data-text" => "Could you be my mentor? Checkout what I would like to learn here:", "data-url" => "http://localhost:3000/classifieds/" + url, :href => "https://twitter.com/share"} Tweet
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    .text-right
      - if classified.preview
        =link_to 'Edit classified', edit_classified_path(classified), class: 'btn btn-default'
        = link_to 'Post classified', classified_confirm_path(classified), method: :post, class: 'btn btn-primary'
