.row
  .col-md-12
    %em #{time_ago_in_words(classified.created_at.to_time)} ago
    %p.lead= classified.description
    %ul.skills
    - classified.skills.each do |skill|
      %li{:class => "icon-#{skill.name.downcase}", :title => skill.name }
        = skill.name
    - if classified.remote
      %p
        %span.label.label-info
          %i.fa.fa-laptop
            Remote
    - if classified.face_to_face
      %p
        %span.label.label-info
          %i.fa.fa-coffee
            =classified.member.location
  .col-md-12
    .btn-group.btn-group-sm
      =link_to "#", title: 'Add to favorites', class: 'btn btn-info' do
        %i.fa.fa-star
        Favorite
      =link_to "#", title: 'Send message', class: 'btn btn-info' do
        %i.fa.fa-envelope
        Message
    .text-right
      - if classified.preview
        %p=link_to 'Edit classified', edit_classified_path(classified), class: 'btn btn-default'
      -else
        %p= 'Posted'