/ -if @classifieds.count > 0
%h1 Classifieds
%br
.panel.panel-default
  .panel-body
    .form

      = form_tag classifieds_path, :method => 'get' do
        .field
          %label Location
          = text_field_tag 'search[location]'
        .field
          = check_box_tag 'search[remote]'
          %label Remote?
        .field
          = check_box_tag 'search[face_to_face]'
          %label Face to Face?
        .field
          - Skill.all.each do |skill|
            %label
              = skill.name
              = check_box_tag 'search[skill_ids][]', skill.id
        .field
          = submit_tag
- @classifieds.each do |classified|
  = render partial: 'classifieds/show', locals: { classified: classified }

  %hr
/ -else
/   %p.blankstate
/     %i.fa.fa-newspaper-o.fa-2x
/     There are currently no classifieds.
