/ -if @classifieds.count > 0
%h1 Classifieds
%br
.panel.panel-default
  .panel-heading
    %h2 Search classifieds
  .panel-body
    .form

      = form_tag classifieds_path, :method => 'get' do
        .form-group
          %h4 Location
          = text_field_tag 'search[location]', '', class: 'form-control'
        .form-group
          .row
            .col-md-12
              %h4 Learning style
          .row
            .col-md-2
              .check-box
                %label
                  = check_box_tag 'search[remote]'
                  Remote?
            .col-md-2
              .check-box
                %label
                  = check_box_tag 'search[face_to_face]'
                  Face to Face?
        .form-group.inline
          .row
            .col-md-12
              %h4 Languages
            - @skills.all.each do |skill|
              .col-md-2
                .check-box
                  %label
                    = check_box_tag 'search[skill_ids][]', skill.id
                    = skill.name
        .form-group{:style => 'float: right'}
          = submit_tag "Search", :class => 'btn btn-default btn-lg'
- @classifieds.each do |classified|
  = render partial: 'classifieds/show', locals: { classified: classified }

  %hr
/ -else
/   %p.blankstate
/     %i.fa.fa-newspaper-o.fa-2x
/     There are currently no classifieds.
