%h1= t('classifieds.new')

.form
  = simple_form_for @classified, :method => :post, role: 'form'  do |f|
    .form-group
      = f.input :description, label: t('classifieds.description'), :as => :text, :input_html => { :rows => 4 , :style => 'width: 100%'} , placeholder: t('classifieds.description_placeholder'), required: true
    .form-group
      %b= t('classifieds.skills')
      %em.hint= t('classifieds.skills_hint')

      = f.association :skills, as: :check_boxes, wrapper: :inline_checkbox, label: false

    .form-group
      %b= t('classifieds.meeting')
      %em.hint= t('classifieds.meeting_hint')

      = f.input :remote, label: t('classifieds.remote'), as: :boolean, wrapper: :inline_checkbox
      = f.input :face_to_face, label: t('classifieds.face_to_face'), as: :boolean, wrapper: :inline_checkbox

      = f.input :preview, as: :hidden, :input_html => { :value => true }

    = f.submit t('classifieds.submit'), class: 'btn btn-primary'
