!!!DOCTYPE html
%html{ lan: 'en' }
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title mentoring.io
    %link(href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css')
    %link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.landing
    = render partial: 'layouts/messages'
    = render partial: 'layouts/navigation'
    .container
      = yield

    %footer
      .text-center
        made with
        %i.fa.fa-heart
